:root {
    --light-green: #B9D43D;
    --light-blue: #bacace;
    --text-color: #1D4E59;

    --yellow: #C99E0A;
    --blue: #122DB8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--light-blue);
    color: var(--text-color);
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container {
    background-color: rgb(211, 143, 194);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;

}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.nav-container h1 {
    color: white;
}

.nav-container ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-container ul li a:hover {
    /* background-color: rgb(2, 2, 2); */
    /* color: yellow; */
    text-decoration-line: underline;
    color: blue;
    /* padding: 10px 20px; */
    border-radius: 5px;
    margin: 0px;
}

.hero {
    background-image: url(banner.jpeg);
    height: 600px;
    width: 100% ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
    color: blue;

}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 52, 52, 0.301);
    z-index: 1;
}

.hero-content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:20px;
    padding-top: 100px;

}

.hero h1 {
    font-size: 3rem;
}

.hero h2 {
    color:white;
    padding-top: 30px;;
    font-size: 2rem;
}

.hero p {
    color:#1d2157;
    padding-top: 20px;
    font-size: 1.5rem;
}

.hero button {
    margin-top: 100px;;
    padding-top: 200px;;
    width:280px;
    background-color: blue;
    color: white;
    padding: 10px 20px;

    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero button:hover {
    background-color: rgb(211, 143, 194);
    color: black;
    transform: scale(1.1);
}

.menu{
    padding: 2rem;
    /* max-width: 1200px; */
    /* margin: 2rem auto; */
}
.menu h2{
   background-color:  rgb(211, 143, 194);
   color: rgb(15, 7, 92);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top:;
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.menu-item{
    background-color: rgb(209, 159, 221);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);   
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex-basis: 280px;
    gap:30px;
    margin:10px;
    padding-left: 5px;
    padding-right: 5px;
    height:320px;
    width:180px;
    
    
}
.menu-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.menu-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    }
    .menu-item-content{
        padding: 1rem;
        display: flex;
        flex-direction: column;
    
        align-items: center;
        gap:0.5rem;    
    }
    .menu-item-content h2{
        font-size: 1.5rem;
        text-align: center;
        color: blue;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .menu-item-content p{
        font-size: 1rem;
        text-align: center;
        color:#122DB8;
    }