*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:white;
    color: rgb(71, 68, 68);
}
.navbar{
    background-color: rgb(57, 94, 57);
    padding: 15px 0px;
    width:100%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.navbar ul li{
margin: 0 20px;
}
.navbar ul li a{
    color: rgb(221, 221, 12);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}
.navbar ul li a:hover{
color: black;
background-color:yellow;
padding: 5px 10px;
}
    /* banner */
    .banner{
        background-color: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
text-align: center;
padding: 100px 20px;
color: white;
}
.banner h1{
    font-size: 48px;
    margin-bottom: 20px;

}
.banner p{
    font-size: 20px;

}
/* coursesection */
.courses{
    padding: 50px 20px;
    text-align: center;
}
.courses h2{
    color:  #1a4d2e;;
    margin-bottom: 20px;
    font-size: 36px;
}
.course-card{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card{
    background-color: rgb(210, 211, 139);
    border:1px solid rgb(20, 80, 20);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width:300px;
    text-align: center;
}
.card h3{
color: #1a4d2e;
margin-bottom: 10px;
}
card p{
margin-bottom: 10px;
}
.about-enroll{
    display: flex;
    color: #ffffff;
    padding: 50px 20px;background: #1a4d2e;
}
.about p{
    font-size: 30px;
}
.about,.enroll{
    flex: 1;
    min-width: 200px;
    padding:20px;
}
.about h2,.enroll h2{
    color: yellow;
    margin-bottom: 20px;
    font-size: 36px;

}
.enroll form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.enroll input , .enroll textarea{
    padding:10px;
    
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.submit-button{
    background-color: yellow;
    color: rgb(3, 17, 3);
    padding:10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.footer{
    background-color: rgb(12, 12, 12);
    color: #ffffff;
    text-align: center;
    padding:20px 0px;
}
.footer p{
    margin:0;
}
.footer a{
    color:yellow;
}
.quran{
    position:fixed;
    bottom: 20px;
    right:20px;

}